[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
isort = "*"

[packages]
psycopg2-binary = "*"
gunicorn = "*"
"discord.py" = {git = "https://github.com/Rapptz/discord.py.git"}
chatterbot = "*"
pytz = "*"
django = "*"
dj-database-url = "*"
requests = "*"
dj-static = "*"
static3 = "*"

[requires]
python_version = "3.6"
